body{
    text-align: center;
    background-color: palevioletred;

}
h1{
    color:beige;
    text-align: center;
    background-color: orange;

}
div{
    border: 10px;
    border-color: solid black;
}
